**/[Bb]in/
**/[Oo]bj/
**/[Ll]ogs/

**/*.Avro.cs
**/artifacts/nugets/*.nupkg

docs
release-notes

.env
.git
.gitignore
.vs/
.vscode

*.csproj.user
*.orig
*.suo
*.user

# Docker
.dockerignore
docker-compose.yml
docker-compose.*.yml
Dockerfile

# Resharper
_ReSharper.*
_ReSharper.*/
*[Rr]e[Ss]harper.user

# Do NOT exclude these folders
!obj/Docker/publish/*
!obj/Docker/empty/

msbuild.log
launchSettings.json
*DS_Store
